*.class
*.log
.idea/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/httpRequests
dist/*
target/
target*/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
